* {
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif,
    sans-serif;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 10px;
  color: #fff;
}

li a {
  color: black;
  font-size: 18px;
}

li:first-child {
  margin-left: 0;
}

li:last-child {
  margin-right: 0;
}

.search-bar {
  display: flex;
  align-items: center;
}

.textbox {
  display: none;
  margin-left: 10px;
}

.search-btn:hover + .textbox,
.textbox:hover {
  display: block;
}

.search-btn:focus {
  color: #fff;
}

.search-btn i {
  color: black;
  font-size: 26px;
}

.search-btn:active i {
  color: #fff;
}
/* Mobile için header hover yapılacak */
/* @media (max-width: 768px) {
  .blog-post {
    width: 100%;
  }
} */

.divider-medium {
  border: 2px solid black;
}

/* Bitiş */

/* Main-body */
.blog-post {
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  overflow: hidden;
  width: 48%;
  margin-bottom: 40px;
  box-sizing: border-box;
  padding: 20px;
  text-align: justify;
}

.blog-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 30px 0;
}

.blog-post:hover img {
  opacity: 0.9;
  transform: scale(1.1);
}

.blog-post img {
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  transition: all 0.3s ease;
}

.blog-post img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.3s ease;
}

.blog-post img h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 20px;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.main-body h2 {
  display: block;
  justify-content: center;
  text-align: center;
}

.blog-post p {
  margin-bottom: 15px;
  text-align: justify;
}

.blog-post a {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.blog-post a:hover {
  background-color: #0062cc;
}

.blog-post h2 {
  margin: 0;
  padding: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.blog-post a:hover {
  background-color: #0062cc;
}

@media (max-width: 768px) {
  .blog-post {
    width: 100%;
  }
}

/* Bitiş */

/* Hizmetler kısmı */

#services {
  background-color: #f8f8f8;
  padding: 50px 0;
}

.pricing {
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 400px;
  text-align: center;
  padding: 30px;
  margin: 20px;
  transition: all 0.3s ease-in-out;
}

.price-card:hover {
  transform: scale(1.05);
}

.featured {
  border: 2px solid #FFD700;
}

.pricing-name {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 0;
}

.pricing-name-featured {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 0;
  color: #FFD700;
}

.price {
  font-size: 50px;
  margin: 30px 0;
}

.currency {
  font-size: 30px;
}

.amount {
  font-size: 50px;
}

.frequency {
  font-size: 24px;
}

.price-card ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
  display: flex;
  flex-direction: column;
}


.price-card li {
  margin-bottom: 10px;
  color: black;
}

.price-card.featured button{
  background-color: #FFD700;
}

.price-card button {
  background-color: #337ab7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.price-card button:hover {
  background-color: #23527c;
  transform: scale(1.1);
}
